* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

.head {
  background-image: linear-gradient(to left, #131417, #1f2024);
  float: left;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-in {
  width: 50%;
  height: 50%;
}
.head-title {
  width: 100%;
  height: 50%;
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-sub {
  width: 100%;
  height: 40%;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page {
  float: left;
  width: 100%;
  height: 100%;
}
#page_nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 80%;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.hide {
  display: none;
}
.show {
  display: flex;
}
.page_nav_in {
  width: 60%;
  height: 80%;
}
.page_nav_but {
  width: 80%;
  height: 10%;
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
}
.page_nav_but:hover {
  cursor: pointer;
  transform: translateX(10%);
}
.navselected {
  transform: translateX(10%);
}
.page_nav_gap {
  width: 100%;
  height: 30%;
}
.page_nav_contri {
  width: 100%;
  height: 30%;
}
.page_nav_contri_box {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}
.page_nav_contri_box:hover {
  cursor: default;
}
.page_nav_contri_box a {
  width: 100%;
  height: 100%;
  color: #131417;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
}
.page_nav_contri_box a:hover {
  color: red;
}
.page_nav_contri_box img {
  width: 10%;
  border-radius: 50%;
  margin-right: 3%;
}
.page_nav_copy {
  width: 100%;
  height: 10%;
  color: #adadad;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.page_nav_copy:hover {
  cursor: default;
}
.page_nav_copy svg {
  width: 5%;
  margin-right: 2%;
}

.page_in {
  position: relative;
  float: right;
  width: 65%;
  height: 100%;
}
#page_view1 {
  position: absolute;
  background: red;
  float: left;
  width: 80%;
  height: 1000px;
}
#page_view2 {
  position: absolute;
  background: blue;
  float: left;
  display: none;
  width: 80%;
  height: 2000px;
}
#page_view3 {
  position: absolute;
  background: green;
  float: left;
  display: none;
  width: 80%;
  height: 3000px;
}

#footer {
  width: 100%;
  height: 6%;
  color: #fff;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer:hover {
  cursor: default;
}
#footer a {
  margin: 0 0.3% 0 0.3%;
  text-decoration: none;
  font-size: 18px;
}
